### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

venv
consumer/devjars/checkpoint
datavol/raw/newfeeds/checkpoint
datavol/raw/newsfeeds/checkpoint
datavol/raw/checkpoint
datavol/raw/newsfeeds/_spark_metadata
datavol/raw/newsfeeds/

*.crc

